<template name="register">
    <form class="form-signup">
        <h2 class="form-signup-heading">GreenDoku</h2>
        <label for="nama" class="sr-only">Nama</label>
        <input type="text" id="nama" name="nama" class="form-control" placeholder="Nama" required autofocus>
        <!--<label for="namaBelakang" class="sr-only">Nama Belakang</label>
        <input type="text" id="namaBelakang" name="namaBelakang" class="form-control" placeholder="Nama Belakang" required autofocus>-->
        <label for="email" class="sr-only">Alamat Surel</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Alamat Surel" required autofocus>
        <label for="password" class="sr-only">Kata Sandi</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Kata Sandi" required>
        <label for="password2" class="sr-only">Ulangi Kata Sandi</label>
        <input type="password" id="password2" name="password2" class="form-control" placeholder="Ulangi Kata Sandi" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Buat Akun</button>
        <br>
        <p><a href="/">Masuk</a></p>
    </form>
</template>