<template name="surat">
    <ul class="list-group">
        <h3>Detil Berkas</h3>
        <li class="list-group-item"><strong>Tanggal: </strong>{{tanggal}}</li>
        <li class="list-group-item"><strong>No. Surat: </strong>{{nomor}}</li>
        <li class="list-group-item"><strong>Perihal: </strong>{{perihal}}</li>
        <li class="list-group-item"><strong>Kategori: </strong>{{kategori}}</li>
        <li class="list-group-item"><strong>Sifat: </strong>{{sifat}}</li>
        <li class="list-group-item"><strong>Status: </strong>{{status}}</li>
        <li class="list-group-item"><strong>Pesan: </strong>{{pesan}}</li>
    </ul>

    <form class="tambah-reply">
        <div class="form-group">
            <label>Balasan</label>
            <textarea class="form-control" id="reply" name="reply"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Tambah Balasan</button>
    </form>
    <hr>
    {{#each replies}}
        <div class="reply-{{usertype}}"><strong>{{usertype}}</strong>[{{replyDate}}]: <strong>{{reply}}</strong></div>
    {{/each}}
</template>