<template name= "suratsurat">
    {{#if currentUser}}
    <div class="panel panel-default panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Daftar Berkas</strong></h3>
        </div>
        <div class="panel-body">
            
        </div>
         <!-- Table -->
         <table class="table table-hover">
            <thead>
                <tr>
                    <th>Tanggal</th>
                    <th>No. Surat</th>
                    <th>Perihal</th>
                    <th>Kategori</th>
                    <th>Sifat</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each suratsurat}}
                    <tr>
                        <td>{{tanggal}}</td>
                        <td>{{nomor}}</td>
                        <td><a href="/surat/{{_id}}">{{perihal}}</a></td>
                        <td>{{kategori}}</td>
                        <td>{{sifat}}</td>
                        <td>{{status}}</td>
                        <td><a href="#" class="btn btn-danger btn-tiny ubahStatusSurat">Ubah Status</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        {{#if jmlsuratsurat}}
            <div class="panel-footer">Total: {{jmlsuratsurat}} berkas</div>
        {{else}}
            <div class="panel-footer">Anda tidak memiliki berkas</div>
        {{/if}}
    </div>  
    {{else}}
        <h3>GreenDoku - Sistem Berbagi Dokumen</h3>
        <p>Silakan masuk ke dalam sistem dengan menggunakan akun Anda.</p>

    {{/if}}

    <!-- Modal -->
    <div class="modal fade" id="suratsuratModal" tabindex="-1" role="dialog" aria-labelledby="suratsuratModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="suratsuratModalTitle">Unggah Surat</h4>
                </div>
                <div class="modal-body">
                    <form class="unggahSuratForm">
                        <div class="form-group col-md-6">
                            <label>Tanggal</label>
                            <input type="date" id="tanggal" class="form-control" name="tanggal" placeholder="Tanggal">
                        </div>
                        <div class="form-group col-md-6">
                            <label>No. Surat</label>
                            <input type="text" id="nomor" class="form-control" name="nomor" placeholder="Nomor">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Perihal</label>
                            <input type="text" id="perihal" class="form-control" name="perihal" placeholder="Perihal">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Kategori</label>
                            <select type="text" id="kategori" class="form-control" name="kategori">
                                    <option value="biasa">Biasa</option>
                                    <option value="penting">Penting</option>
                                    <option value="mendesak">Mendesak</option>
                                </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Sifat</label>
                            <select type="text" id="sifat" class="form-control" name="sifat">
                                    <option value="umum">Umum</option>
                                    <option value="terbatas">Terbatas</option>
                                </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Tujuan</label>
                            <select type="text" id="tujuan" class="form-control" name="tujuan">
                                    <option value="sekolah-1">Sekolah-1</option>
                                    <option value="sekolah-1">Sekolah-2</option>
                                </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Pesan</label>
                            <textarea id="pesan" class="form-control" name="pesan"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Unggah</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>