body#loginformlayout  {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }
  
  .form-signin,   .form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
  }
  .form-signin .form-signin-heading, .form-signup .form-signup-heading,
  .form-signin .checkbox, .form-signup .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox, .form-signup .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control, .form-signup .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus, .form-signup .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"], .form-signup input[type="text"],
  .form-signin input[type="email"], .form-signup input[type="email"],
  .form-signin input[type="password"], .form-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
   