<template name="footer">
    <div class="footer-basic" style="background-color:#dfe8ee;">
        <footer>
            <div class="social"><a href="#"><i class="glyphicon glyphicon-phone-alt"></i></a><a href="#"><i class="glyphicon glyphicon-envelope"></i></a></div>
            <ul class="list-inline">
                <li><a href="#">Berkas-berkas</a></li>
                <li><a href="#">Unggah Berkas</a></li>
                <li><a href="#">Pengaturan</a></li>
            </ul>
            <p class="copyright" style="font-size:14px;">Copyright &copy;GreenDoku 2017</p>
        </footer>
    </div>
</template>